/* Your custom styles */

.hero {
	background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../img/overlays/header.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh; 
}

.bg-primary{
	background-color: #26180C;

}

.md-form label{
	color: #fff;
}

.payment i{
	color: #fcfcfc;
	padding: -5px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 30px;
	margin-bottom: 20px
}

#Contact{
	background: url(../img/overlays/footerbg.jpg);
	background-size: cover;
	background-position: center;
	margin-top: 35px;
	width: 100%;
	overflow: hidden;
}

#Contact .card{
	background-color: #323232;
}

#Contact .card-body h3,h4{
	color: #fff;
}

#Contact i{
font-size: 24px;
color: #fff;
width: 40px;
height: 40px;
line-height: 40px;
display: inline-block;
text-align: center;
border-radius: 50%;
border: 1px solid #ccc;
margin: 0 8px;
opacity: 0.75;
}

#Contact i:hover{
	color: #E27702;
	transition: all 2s;
}

.header{
	background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../img/overlays/login.jpeg) no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
}

.hero2 {
	background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.5)), url(../img/overlays/casher.jpeg) no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
}

.card-body p{
	color: #fff;
}

.form-group{
	background-color: #323232;
	border-color: #000000;
	color: #fff;
}

.md-form,.form-control{
	background-color: white;
	color: #fff;
}



footer{
	background-color: #000000;
}

.copyright p{
	color:#fcfcfc;
	margin-top: 30px;
	font-size: 15px;
}

.carousel-inner img{
	height: 90vh;
    background-size: cover;
    background-position: center;
}

.modal-header h4{
    color: black;
}
.text-caption h3{
	margin-top: 60px;
	font-weight: bold;
/*	font-family:serif;*/
	text-align: center
}

.text-caption p{
	font-size: 25px;
}
