// Your custom styles

.header{
	background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.5)), url(../img/overlays/pexels-photo-367915.jpeg) no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
